.NextButton {
  width: 100%;
  margin-top: 1rem;
}

.NexeButtonActive {
  text-align: center;
  background-color: #b71a25;
  color: #fff;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.NexeButton {
  text-align: center;
  background-color: #303746;
  color: #fff;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 3px;
}
