.Finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  min-width: 300px;
  background-color: #303746;
  border-radius: 3px;
  padding: 2rem;
}

.name {
  font-size: 3rem;
}

.text {
  font-size: 1.5rem;
  margin: 2rem 0;
  @media (max-width: 576px) {
    line-height: 1.4;
    text-align: center;
  }
  span {
    color: red;
    margin: 0 0.5rem;
  }
}

.button {
  color: #fff;
  background-color: red;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 3px;
  @media (max-width: 576px) {
    line-height: 1.4;
    text-align: center;
    padding: 1rem 2rem;
  }
}

.img {
  margin: 1rem;
}
